USE [master]
GO
/****** Object:  Database [Sistema_Contable]    Script Date: 20/9/2026 18:25:13 ******/
CREATE DATABASE [Sistema_Contable]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sistema_Contable', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Sistema_Contable.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sistema_Contable_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Sistema_Contable_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sistema_Contable].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sistema_Contable]
GO
/****** Object:  User [conta_user]    Script Date: 20/9/2026 18:25:13 ******/
CREATE USER [conta_user] FOR LOGIN [conta_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [conta_user]
GO
/****** Object:  Table [dbo].[asientos]    Script Date: 20/9/2026 18:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asientos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero] [int] NOT NULL,
	[fecha] [nvarchar](20) NOT NULL,
	[concepto] [nvarchar](500) NOT NULL,
	[total_debe] [decimal](18, 2) NOT NULL,
	[total_haber] [decimal](18, 2) NOT NULL,
	[usuario_id] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuentas]    Script Date: 20/9/2026 18:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuentas](
	[codigo] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[tipo] [nvarchar](50) NOT NULL,
	[subtipo] [nvarchar](50) NULL,
	[nivel] [int] NOT NULL,
	[naturaleza] [nvarchar](20) NOT NULL,
	[cuenta_padre] [nvarchar](50) NULL,
	[permite_movimiento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_asiento]    Script Date: 20/9/2026 18:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_asiento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[asiento_id] [int] NOT NULL,
	[renglon] [int] NOT NULL,
	[cuenta_codigo] [nvarchar](50) NOT NULL,
	[concepto_linea] [nvarchar](500) NULL,
	[debe] [decimal](18, 2) NOT NULL,
	[haber] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kardex]    Script Date: 20/9/2026 18:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kardex](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[producto_id] [int] NOT NULL,
	[fecha] [nvarchar](20) NOT NULL,
	[tipo_movimiento] [nvarchar](20) NOT NULL,
	[cantidad] [int] NOT NULL,
	[costo_unitario] [decimal](18, 2) NOT NULL,
	[costo_total] [decimal](18, 2) NOT NULL,
	[saldo_cantidad] [int] NOT NULL,
	[saldo_valor] [decimal](18, 2) NOT NULL,
	[asiento_id] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 20/9/2026 18:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[costo_compra] [decimal](18, 2) NOT NULL,
	[precio_venta] [decimal](18, 2) NOT NULL,
	[stock_actual] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 20/9/2026 18:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[nombre_completo] [nvarchar](150) NOT NULL,
	[rol] [nvarchar](50) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[asientos] ON 

INSERT [dbo].[asientos] ([id], [numero], [fecha], [concepto], [total_debe], [total_haber], [usuario_id], [created_at]) VALUES (3, 1, N'2026-09-20', N'ini', CAST(36000.00 AS Decimal(18, 2)), CAST(36000.00 AS Decimal(18, 2)), 1, CAST(N'2026-09-20T16:39:04.0000000' AS DateTime2))
INSERT [dbo].[asientos] ([id], [numero], [fecha], [concepto], [total_debe], [total_haber], [usuario_id], [created_at]) VALUES (4, 2, N'2026-09-20', N'apertura cuenta', CAST(20000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), 1, CAST(N'2026-09-20T16:39:52.9366667' AS DateTime2))
INSERT [dbo].[asientos] ([id], [numero], [fecha], [concepto], [total_debe], [total_haber], [usuario_id], [created_at]) VALUES (5, 3, N'2026-09-20', N'Compra producto', CAST(10000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), 1, CAST(N'2026-09-20T16:40:26.3633333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[asientos] OFF
GO
INSERT [dbo].[cuentas] ([codigo], [nombre], [tipo], [subtipo], [nivel], [naturaleza], [cuenta_padre], [permite_movimiento]) VALUES (N'1', N'Activo', N'ACTIVO', NULL, 1, N'DEUDORA', NULL, 0)
INSERT [dbo].[cuentas] ([codigo], [nombre], [tipo], [subtipo], [nivel], [naturaleza], [cuenta_padre], [permite_movimiento]) VALUES (N'1.1', N'Efectivo y equivalente', N'ACTIVO', N'ACTIVO CORRIENTE', 2, N'DEUDORA', N'1', 0)
INSERT [dbo].[cuentas] ([codigo], [nombre], [tipo], [subtipo], [nivel], [naturaleza], [cuenta_padre], [permite_movimiento]) VALUES (N'1.1.1', N'Caja', N'ACTIVO', N'ACTIVO CORRIENTE', 3, N'DEUDORA', N'1.1', 1)
GO
SET IDENTITY_INSERT [dbo].[detalle_asiento] ON 

INSERT [dbo].[detalle_asiento] ([id], [asiento_id], [renglon], [cuenta_codigo], [concepto_linea], [debe], [haber]) VALUES (13, 3, 1, N'1.1', N'', CAST(30000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[detalle_asiento] ([id], [asiento_id], [renglon], [cuenta_codigo], [concepto_linea], [debe], [haber]) VALUES (14, 3, 2, N'1.1.1', N'$30,000.00', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[detalle_asiento] ([id], [asiento_id], [renglon], [cuenta_codigo], [concepto_linea], [debe], [haber]) VALUES (15, 3, 3, N'1', N'', CAST(6000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[detalle_asiento] OFF
GO
SET IDENTITY_INSERT [dbo].[kardex] ON 

INSERT [dbo].[kardex] ([id], [producto_id], [fecha], [tipo_movimiento], [cantidad], [costo_unitario], [costo_total], [saldo_cantidad], [saldo_valor], [asiento_id], [created_at]) VALUES (2, 1, N'2026-09-20', N'ENTRADA', 678, CAST(8.85 AS Decimal(18, 2)), CAST(6000.30 AS Decimal(18, 2)), 678, CAST(6000.30 AS Decimal(18, 2)), 3, CAST(N'2026-09-20T16:39:04.0300000' AS DateTime2))
INSERT [dbo].[kardex] ([id], [producto_id], [fecha], [tipo_movimiento], [cantidad], [costo_unitario], [costo_total], [saldo_cantidad], [saldo_valor], [asiento_id], [created_at]) VALUES (3, 1, N'2026-09-20', N'ENTRADA', 1000, CAST(8.85 AS Decimal(18, 2)), CAST(8850.00 AS Decimal(18, 2)), 1678, CAST(14850.30 AS Decimal(18, 2)), 5, CAST(N'2026-09-20T16:40:26.3866667' AS DateTime2))
INSERT [dbo].[kardex] ([id], [producto_id], [fecha], [tipo_movimiento], [cantidad], [costo_unitario], [costo_total], [saldo_cantidad], [saldo_valor], [asiento_id], [created_at]) VALUES (4, 1, N'2026-09-20', N'SALIDA', 600, CAST(8.85 AS Decimal(18, 2)), CAST(5310.00 AS Decimal(18, 2)), 1078, CAST(9540.30 AS Decimal(18, 2)), 6, CAST(N'2026-09-20T16:41:23.0966667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[kardex] OFF
GO
SET IDENTITY_INSERT [dbo].[productos] ON 

INSERT [dbo].[productos] ([id], [nombre], [costo_compra], [precio_venta], [stock_actual]) VALUES (1, N'Producto Estándar', CAST(8.85 AS Decimal(18, 2)), CAST(17.70 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[productos] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id], [username], [password], [nombre_completo], [rol], [estado]) VALUES (1, N'admin', N'admin123', N'Lic. Kevin Administrador', N'ADMINISTRADOR', N'ACTIVO')
INSERT [dbo].[usuarios] ([id], [username], [password], [nombre_completo], [rol], [estado]) VALUES (2, N'admin2', N'admin321', N'Lic. Javier Administrador', N'ADMINISTRADOR', N'ACTIVO')
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
/****** Object:  Index [UQ__asientos__FC77F2116289F73A]    Script Date: 20/9/2026 18:25:14 ******/
ALTER TABLE [dbo].[asientos] ADD UNIQUE NONCLUSTERED 
(
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_asiento_fecha]    Script Date: 20/9/2026 18:25:14 ******/
CREATE NONCLUSTERED INDEX [idx_asiento_fecha] ON [dbo].[asientos]
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_detalle_asiento]    Script Date: 20/9/2026 18:25:14 ******/
CREATE NONCLUSTERED INDEX [idx_detalle_asiento] ON [dbo].[detalle_asiento]
(
	[asiento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_detalle_cuenta]    Script Date: 20/9/2026 18:25:14 ******/
CREATE NONCLUSTERED INDEX [idx_detalle_cuenta] ON [dbo].[detalle_asiento]
(
	[cuenta_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_kardex_producto]    Script Date: 20/9/2026 18:25:14 ******/
CREATE NONCLUSTERED INDEX [idx_kardex_producto] ON [dbo].[kardex]
(
	[producto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__F3DBC5726BB010FE]    Script Date: 20/9/2026 18:25:14 ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[asientos] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cuentas] ADD  DEFAULT ((3)) FOR [nivel]
GO
ALTER TABLE [dbo].[cuentas] ADD  DEFAULT ((1)) FOR [permite_movimiento]
GO
ALTER TABLE [dbo].[detalle_asiento] ADD  DEFAULT ((0.0)) FOR [debe]
GO
ALTER TABLE [dbo].[detalle_asiento] ADD  DEFAULT ((0.0)) FOR [haber]
GO
ALTER TABLE [dbo].[kardex] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((0.00)) FOR [costo_compra]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((0.00)) FOR [precio_venta]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((0)) FOR [stock_actual]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ('ACTIVO') FOR [estado]
GO
ALTER TABLE [dbo].[asientos]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[detalle_asiento]  WITH CHECK ADD FOREIGN KEY([asiento_id])
REFERENCES [dbo].[asientos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[detalle_asiento]  WITH CHECK ADD FOREIGN KEY([cuenta_codigo])
REFERENCES [dbo].[cuentas] ([codigo])
GO
ALTER TABLE [dbo].[kardex]  WITH CHECK ADD FOREIGN KEY([asiento_id])
REFERENCES [dbo].[asientos] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[kardex]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[cuentas]  WITH CHECK ADD CHECK  (([naturaleza]='ACREEDORA' OR [naturaleza]='DEUDORA'))
GO
ALTER TABLE [dbo].[cuentas]  WITH CHECK ADD CHECK  (([permite_movimiento]=(1) OR [permite_movimiento]=(0)))
GO
ALTER TABLE [dbo].[detalle_asiento]  WITH CHECK ADD CHECK  (([haber]>=(0)))
GO
ALTER TABLE [dbo].[detalle_asiento]  WITH CHECK ADD CHECK  (([debe]>=(0)))
GO
ALTER TABLE [dbo].[kardex]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[kardex]  WITH CHECK ADD CHECK  (([tipo_movimiento]='SALIDA' OR [tipo_movimiento]='ENTRADA'))
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD CHECK  (([rol]='AUDITOR' OR [rol]='CONTADOR' OR [rol]='ADMINISTRADOR'))
GO
USE [master]
GO
